<div>
  <filter-textbox-component (changed)="filter($event)"></filter-textbox-component>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('city')">City</th>
        <th (click)="sort('orderTotal')">Order Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of filteredCustomers">
        <td>
          <a href="#">{{ customer.name | uppercase}}</a>
        </td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.orderTotal | currency:currencyCode:'symbol' }}</td>
      </tr>
      <tr *ngIf="filteredCustomers && filteredCustomers.length">
        <td colspan="2">&nbsp;</td>
        <td>
            {{ customersOrderTotal | currency:currencyCode:'symbol' }}
        </td>
    </tr>
    <tr *ngIf="!filteredCustomers || !filteredCustomers.length">
      <td>No customers found</td>
    </tr>
    </tbody>
  </table>
  Number of Customers: {{ filteredCustomers.length }}
</div>
